/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 26, 2018, 1:14:51 PM
    Author     : Nightt Fury
*/

html, body {
  overflow-x: hidden;
}


body{
	background-image: url("images/purple_background2.jpg");
	color: white;
}

#menu{
    background-color: #333333;
    width: 120%;
    margin-left: -40px;
    
}

#menu ul{
	list-style: none;
        overflow: hidden;
}
#menu li{
	display: inline;  
}
#menu li a{
	color: #e6e6e6;
	font-size: 30px;
	text-decoration: none;
	margin-right: 20px;
        text-align: left;
}

#menu li a:hover{
    color: white;
}

#output p{
    font-size: 20px;
    margin-left: 2.5%;
    margin-top: 30px;
    margin-right: 2.5%;
    float: left;
    color: white;
    
    outline-color: #D0B4D5;
    outline-style: solid;
    outline-offset: 5px;
    
    word-wrap: break-word;
    width: 430px;
}